/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom Styles */
:root {
  --color: 
}

.bg-color {
  background-color: rgba(0,0,0,0.8) !important;
}

#root {
  /* max-width: 1200px;
  width: 100%;
  margin: 56px auto;
  border: 1px solid; */
  padding: 108px;
  
  
}

/* header */

.main-header {
  padding: 0 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
}
.links li {
  margin-right: 20px;
}
.nav-link {
  font-size: 20px;
  font-weight: 550;
  text-decoration: none;
}
.torch-off {
  font-size: 36px;
  font-weight: 550;
  color: gray;
}
.torch-on {
  color: yellow;
  font-size: 36px;
  font-weight: 550;
}
.activ {
  color: brown !important;
}

/* popular languages */

.all-languages {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-languages li {
  margin: 24px 16px;
  cursor: pointer;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 550;
}

/* popular users */

.popular-users {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
}
.single-user {
  flex: 22%;
  background-color: rgba(235, 235, 235, 1);
  padding: 24px;
  margin: 12px;
  border-radius: 6px;
}
.single-user h1 {
  text-align: center;
  padding: 16px;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 550;
  margin-bottom: 16px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.a {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  text-decoration: none;
}
.single-user div img {
  width: 70%;
  object-fit: cover;
}

.username,
.stars,
.forks,
.issues {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 16px;
}
.username a,
.stars span,
.forks span,
.issues span {
  margin-left: 12px;
}


/* loader */

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}


/* battleground */

.battleground {
  display: flex;
  margin: 24px 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions h2 {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 24px 0;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 48px 0 72px 0;
}
.users , .b-info , .winner {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
  align-items: center;
  margin: 0 36px;
}
.users div , .b-info div , .winner div {
  margin-top: 8px;
  background-color: rgba(235, 235, 235, 1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 156px;
  width: 156px;
}

/*  players */

.players h3   {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 24px 0;
}

/* players info */

.players-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 36px 16px;
}
.player-one, .player-two {
  margin-bottom: 16px;
}

.btl-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 16px;
  font-size: 20px;
  font-weight: 550;
  border-radius: 8px;
}
.padding {
  padding: 16px !important;
}

.p-two-input {
  display: flex;
}
.active-btn {
  padding: 16px !important;
  display: none !important;
}

.final-name {
  display: flex;
  width: 256px;
  align-items: center;
  background-color: rgba(235, 235, 235, 1);
  justify-content: space-between;
  padding: 16px;
}
.final-name div {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.final-name div img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}